{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Page</h1>
</div>
<p class="lead">This is a demo for Middle Seat created by Rina Schiller.</p>
<p>The events are taken from <a href="https://www.facebook.com/digitalottawa/events">Ottawa Digital Facebook Events</a></p>
<p>This app uses Flask for the web framework, Facebook API, Mapbox JS SDK, and Heroku for web deployments</p>
<p>In order to see the events, the user must have the proper permissions on the Facebook page in accordance with the Facebook API <a href="https://developers.facebook.com/docs/graph-api/reference/page/events/">Page access guidelines</a></p>
<p>In the future, a better solution would be to have a database that has all the events saved in it. The application could query the Facebook API a few times a day for updated events and put them into the database.</p>


{% endblock %}
